// sidebar
$menuText:#ffffff;
$menuActiveText:#ffffff;
$menuActiveBg: #4165d7;
$subMenuActiveText:#ffffff; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#2f3447;
$menuHover:#4165d7;

$subMenuBg:#2b3043;
$subMenuHover:#4165d7;

$sideBarWidth: 256px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
